<div class="form-container flex flex-col w-[100%] m-x-auto space-y-10 p-4">
  <h1 class="font-bold text-2xl">New Post</h1>
    <%= form_with url: user_posts_url, class: "space-y-4" do |form| %>
      <div class="title flex space-x-2">
        <%= form.label :title %>
        <%= form.text_field :title, class: "w-60" %>
      </div>
      <div class="text flex space-x-2">
        <%= form.label :text %>
        <%= form.text_area :text, class: "w-96 h-36" %>
      </div>
      <%= form.submit "Create Post", class: "ml-10 px-4 py-2 bg-gray-200 font-medium hover:bg-orange-800 hover:text-white hover:cursor-pointer active:scale-95" %>
    <% end %>
</div>
