<div class="post">
  <div class="post-info">
    <h3>Post by <%= @post.author.name %></h3>
    <p>Commets: <%= @post.comments_counter %>, Likes: <%= @post.likes_counter %></p>
  </div>
  <p class="post-body"><%= @post.text %></p>
  <div class="comments">
    <% @post.comments.each do |comment| %>
      <p><%= comment.author.name %>: <%= comment.text %></p>
    <% end %>
  </div>
</div>
