<!DOCTYPE html>
<html>
  <head>
    <title>MyBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container mx-auto mt-12 px-5 flex flex-col items-center space-y-2">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <p class="self-end">
        <% if current_user %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, data: { turbo_method: :delete } %>
        <% end %>
      </p>
      <%= yield %>
    </main>
  </body>
</html>
